In [1]:
print ('Hello world')

Hello world

In [6]:
"""
This is Hello World 
kjkjkjkjkjkj
"""
#LOL
print('Hello World')

Hello World

In [7]:
print('BYE')

BYE

In [8]:
name = input('What is your name')
print(name)

In [9]:
print("Hello,World!")

Hello,World!

In [10]:
name="Amar"

print("Hello Kah Hui")

In [17]:
print('hello world')
print('hello world')
print('hello world')
print('hello world')
print('hello world')

hello world
hello world
hello world
hello world
hello world

In [24]:
name = "Rahman"
print ('My name is' +name )

My name isRahman

In [25]:
name = "Rahman Rom"
age = "28"
print('My name is '+name+ 'and I am '+age+' years old.')

My name is Rahman Romand I am 28 years old.

In [26]:
name = 'Rahman Rom'
print(f"My name is {name}")

My name is Rahman Rom

In [28]:
name = 'Rahman Rom'
age = '28'
print(f'My name is {name} and I am {age} years old.')

My name is Rahman Rom and I am 28 years old.

In [29]:
number_of_people = 100
number_of_countries = 10
number_of_cars = 1000

In [30]:
height = 1.75
weight = 70.5
percentage = 90.5

In [31]:
name = "Rahman"
university = "Universiti Malaya"
country = "Malaysia"

In [32]:
is_student = True 
is_employed = False

In [34]:
variable_1 = "Alia"
variable_2 = 100
variable_3 = True 
variable_4 = 0.3454 

print(type(variable_1)) # str 
print(type(variable_2)) # int
print(type(variable_3)) # bool
print(type(variable_4)) # float

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'float'>

In [36]:
variable_1 = "10.10"
variable_2 = "100"

variable_1 = float(variable_1)
variable_2 = int(variable_2)

print(type(variable_1)) # float 
print(type(variable_2)) # int

<class 'float'>
<class 'int'>

In [38]:
name = "Kah Hui"
age = "22"
print('My name is '+name+ ' and I am '+age+' years old.')

My name is Kah Hui and I am 22 years old.

In [39]:
name = "abdul"
name.capitalize()

'Abdul'

In [40]:
name = "RAHMAN"
name.lower()

'rahman'

In [42]:
name = "rahman"
name.upper()

'RAHMAN'

In [49]:
text = "$20k"
print (float (text.replace ("k" , "0000"),(text.replace ("$" , ""))))

TypeError: float expected at most 1 argument, got 2

In [50]:
NumOfStudents = 38 
num_of_students = 30

In [52]:
students = ["Rahman", "Alia", "Anis", "Aniq"]
print(type(students))
print (students[1])

<class 'list'>
Alia